.navbar {

  background-color: $light;
  position: fixed;
  bottom: 0;

  .nav-grid {
    width: 100vw;
    display: grid;
    grid-template-areas: "home search add_post notif profil";
    grid-template-rows: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    .nav-item {
      padding: auto;
      margin: auto;

      .nav-link path {
        fill: $white;
      }

      &:hover {
        .nav-link path {
          fill: $primary;
        }
      }
    }

  }
}

@include media-breakpoint-up('md') {
  header {
    margin: 0 30vw;
    .navbar {
      bottom: unset;
      border-radius: 0 0 .5rem .5rem;

      .nav-grid {
        width: 40vw;
        grid-template-areas: "home search notif profil";
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

    }

  }
}
